body {
  /* background-color: #F3F2F2; */
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*HOME PAGE*/

/*------------------------------------------------------------------------------------*/

.index_body {
  background-color: #F3F2F2;
}

.arrows_home {
  font-size: 18pt;
  font-weight: lighter;
  text-align: left;
  color: grey;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_arrow_home a {
  text-decoration: none;
  color: grey;
}

.proj_arrow_home a {
  text-decoration: none;
  color: grey;
}

.home_header {
  font-size: 24pt;
  color: black;
  margin: 50px 0 0 0;
  padding: 0;
}

/* referenced https://www.geeksforgeeks.org/how-to-reverse-an-animation-on-mouse-out-after-hover/?ref=lbp */
.about_arrow_home {
  padding-left: 100px;
  animation: 300ms shrink;
  margin: 25px;
}

.about_arrow_home:hover div, .proj_arrow_home:hover div, .contact_arrow_home:hover div {
  display: block;
  animation: 2s fadeBgIn;
}

@keyframes fadeBgIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.about_arrow_home div {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(#8A3736, #9D464A);
  display: none;
}

.proj_arrow_home {
  padding-right: 100px;
  animation: 300ms shrink;
  margin: 25px;
}

.proj_arrow_home div {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(#B46325, #C37539);
  display: none;
}

.contact_arrow_home {
  padding-left: 100px;
  animation: 300ms shrink;
  margin: 25px;
}

.contact_arrow_home div {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(#529D76, #7CAC7C);
  display: none;
}

.about_arrow_home a:hover, .proj_arrow_home a:hover, .contact_arrow_home:hover {
  color: black;
  cursor: pointer;
  animation: 300ms expand;
  font-size: 22pt;
}

@keyframes expand {
  0% {
    font-size: 18pt;
  }
  100% {
    font-size: 22pt;
  }
}

@keyframes shrink {
  0% {
    font-size: 22pt;
  }
  100% {
    font-size: 18pt;
  }
}

/*  NAV BAR */

.nav_cont {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1.5px solid #323232;
  padding: 30px 0 5px 0;
  background-color: white;
}

.nav_links {
  list-style: none;
  font-size: 14pt;
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 25px;
}

.nav_links a {
  text-decoration: none;
  color: grey;
  padding: 0;
  margin: 0;
  height: 10px;
  font-style: italic;
}

.nav_links a:hover {
  color: black;
}

.name_ul {
  list-style: none;
  font-size: 14pt;
  width: 25%;
  height: 25px;
  text-align: center;
  margin: 0;
}

.name_ul a {
  color: black;
  text-decoration: none;
}

.contact_links {
  width: 25%;
  padding: 0;
  margin: 0;
}

.contact_links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.contact_links a {
  color: black;
  text-decoration: none;
}

.contact_links::after {
  color: black;
}



/*------------------------------------------------------------------------------------*/

/* Home elements */
/*
.home_header {
  color: #0D574C;
  position: sticky;
  top: 10px;
  left: 33%;
  text-align: center;
  font-size: 18pt;
  margin: 0;
  padding: 0;
} */

.home_img_cont {
  width: 100%;
  height: 500px;
  /* background-color: #1b3420; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.garden_home_img {
  width: 400px;
}

.proj_label {
  font-size: 20pt;
  margin: 120vh 0 0 0;
  text-align: center;
}

/* animation referenced from https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */
.anim_proj_home {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
  }
}

.home_proj_img img {
  width: 250px;
  margin: 20px;
  transition: transform 300ms;
}

/* animation referenced from https://thoughtbot.com/blog/transitions-and-transforms */
.home_proj_img img:hover {
  transform: translateY(-10px);
}

.home_proj_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* skill section */

.stats {
  background-color: #ccb7ae;
  margin: 100px 20% 10% 20%;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.stats h3 {
  font-size: 20pt;
}

.stat_bar {
  height: 25px;
  width: 300px;
  background-color: #ccb7ae;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: #40160f;
}

.html_stat {
  background-color: #40160f;
  width: 90%;
  height: 25px;
  margin-right: 10px;
}

.css_stat {
  background-color: #40160f;
  width: 80%;
  height: 25px;
  margin-right: 10px;
}

.py_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.js_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.react_stat {
  background-color: #40160f;
  width: 50%;
  height: 25px;
  margin-right: 10px;
}

/* Curiosities */
.cur_box {
  height: 350px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  margin: 50px;
}

.cur_box_home {
  height: 350px;
  width: 250px;
  border-radius: 20px;
  /* border: 1px solid black; */
  margin: 50px;
  overflow: hidden;
  background-color: #f3e6e7;

}

/* Referenced this site for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.all_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.cur_label {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cur_label h3 {
  margin: 0 12%;
}


/* PROJECTS PAGE */

.portfolio_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 2%;
  list-style: none;

  display: none;
}

.portfolio_nav li {
  font-size: 14pt;
  padding: 15px;
  color: grey;
  cursor: pointer;
}

.portfolio_nav li:hover {
  color: black;
  font-weight: bold;
}

.web_img_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.web_img_cont img {
  margin: 25px 0 10px 0;
}

/* ART PAGE */

.art_btn {
  padding: 2px 25px;
  display: inline-block;
  height: 40px;
  font-size: 14pt;
  background-color: #fefefa;
  border-radius: 20px;
  border: 2px solid #ccb7ae;

  display: none;
}

.art_btn:hover {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.btn_change {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.all_art_bts {
  margin: 10% 0 1% 10%;
}

.proj_box {
  display: block;
  margin: 10px;
  float: left;
  transition: transform 300ms;
}

.all_proj_boxes {
  margin-left: 10%;
}

.box_off {
  display: none;
}

.proj_box:hover {
  transform: scale(1.08);
}

.proj_txt {
  width: 250px;
  font-size: 14pt;
  float: right;
  margin-right: 250px;
}

.spacer {
  height: 100vh;
  width: 100%;
}

/* ABOUT PAGE */

.profile_pic {
  position: absolute;
  overflow: hidden;
  top: 20%;
  height: 400px;
  background-color: grey;
  margin: 0 0 0 20%;
}

.profile_text {
  width: 400px;
  margin: 10% 10% 0 45%;
  height: 100vh;
}
