body {
  /* background-color: #fefefa; */
  background: linear-gradient(to bottom, #e5f4fb 5%, #fefefa 100%);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


/* HOME NAV BAR */
/* #allnav {
  background-color: red;
}

nav {
  background-color: purple;
} */

.nav {
  list-style-type: none;
  padding: 0;
  text-align: right;
  font-size: 15pt;
  position: fixed;
  top: 10px;
  right: 25px;
}

.logo_nav {
  list-style-type: none;
  padding: 0;
  font-size: 15pt;
  position: fixed;
  top: 0;
  left: 25px;
  color: white;
}

.nav li {
  display: inline;
  margin: 0px 20px 0px 20px;
  color: black;
}

.nav li a {
  text-decoration: none;
  color: black;
}

.nav li a:hover {
  text-decoration: none;
  color: grey;
}

.nav li a::after {
  color: black;
}

/* Other Pages NAV BAR */
.altnav {
  list-style-type: none;
  padding: 0;
  text-align: right;
  font-size: 15pt;
  position: fixed;
  top: 10px;
  right: 25px;
}

.alt_logo_nav {
  list-style-type: none;
  padding: 0;
  font-size: 15pt;
  position: fixed;
  top: 0;
  left: 25px;
}

.altnav li, .alt_logo_nav li {
  display: inline;
  margin: 0px 20px 0px 20px;
  color: black;
}

.altnav li a , .alt_logo_nav li a {
  text-decoration: none;
  color: black;
}

.altnav li a:hover, .alt_logo_nav li a:hover {
  color: grey;
}

.altnav li a::after , .alt_logo_nav li a::after {
  color: black;
}

/*HOME PAGE*/

/* Home elements */

.home_header {
  color: #0D574C;
  position: fixed;
  top: 30%;
  left: 33%;
  text-align: center;
  font-size: 40pt;
  margin: 0;
  padding: 0;
}


.home_clouds {
  position: absolute;
  top: 300px;
  z-index: 2;
  width: 100%;
}

.bgClouds {
  background-image: url("assets/bgSkyDrawing.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proj_label {
  font-size: 20pt;
  margin: 120vh 0 0 0;
  text-align: center;
}

/* animation referenced from https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */
.anim_proj_home {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
  }
}

.home_proj_img img {
  width: 250px;
  margin: 20px;
  transition: transform 300ms;
}

/* animation referenced from https://thoughtbot.com/blog/transitions-and-transforms */
.home_proj_img img:hover {
  transform: translateY(-10px);
}

.home_proj_img {
  position: absolute;
  top: 130vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* skill section */

.stats {
  background-color: #ccb7ae;
  margin: 450px 20% 10% 20%;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.stats h3 {
  font-size: 20pt;
}

.stat_bar {
  height: 25px;
  width: 300px;
  background-color: #ccb7ae;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: #40160f;
}

.html_stat {
  background-color: #40160f;
  width: 90%;
  height: 25px;
  margin-right: 10px;
}

.css_stat {
  background-color: #40160f;
  width: 80%;
  height: 25px;
  margin-right: 10px;
}

.py_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.js_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.react_stat {
  background-color: #40160f;
  width: 50%;
  height: 25px;
  margin-right: 10px;
}

/* contact footer */

.contact_links {
  background-color: green;
  height: 150px;
  width: 100%;
  /* position: absolute;
  top: 200vh;
  left: 0; */
}

.contact_links ul {
  list-style-type: none;
}

.contact_links a {
  color: white;
  text-decoration: none;
  float: left;
  margin-left: 10%;
  margin-top: 25px;
}

.contact_links a:hover {
  color: white;
  text-decoration: underline;
}

.contact_links a::after {
  color: white;
}

/* Curiosities */
.cur_box {
  height: 350px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  margin: 50px;
}

.cur_box_home {
  height: 350px;
  width: 250px;
  border-radius: 20px;
  /* border: 1px solid black; */
  margin: 50px;
  overflow: hidden;
  background-color: #f3e6e7;

}

/* Referenced this site for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.all_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.cur_label {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cur_label h3 {
  margin: 0 12%;
}


/* PROJECTS PAGE */

.proj_img {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.proj_img img {
  margin-right: 10%;
}

.proj_img p {
  margin-top: 5%;
  font-size: 14pt;
}

.all_proj_img {
  margin: 10% 0 0 15%;
  display: flex;
  flex-direction: column;
}

/* ART PAGE */

.art_btn {
  padding: 2px 25px;
  display: inline-block;
  height: 40px;
  font-size: 14pt;
  background-color: #fefefa;
  border-radius: 20px;
  border: 2px solid #ccb7ae;
}

.art_btn:hover {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.btn_change {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.all_art_bts {
  margin: 10% 0 1% 10%;
}

.proj_box {
  display: block;
  height: 250px;
  width: 250px;
  background-color: grey;
  margin: 10px;
  float:left;
  transition: transform 300ms;
}

.all_proj_boxes {
  margin-left: 10%;
}

.box_off {
  display: none;
}

.proj_box:hover {
  transform: scale(1.08);
}

.proj_txt {
  width: 250px;
  font-size: 14pt;
  float: right;
  margin-right: 250px;
}

.spacer {
  height: 100vh;
  width: 100%;
}

/* ABOUT PAGE */
.about_body {
  background-color: #FBFBFB;
}

.profile_pic {
  position: absolute;
  overflow: hidden;
  top: 20%;
  height: 400px;
  background-color: grey;
  margin: 0 0 0 20%;
}

.profile_text {
  width: 400px;
  margin: 10% 10% 0 45%;
  height: 100vh;
}
