html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*HOME PAGE*/

/*------------------------------------------------------------------------------------*/

/* .index_body {

} */

.home_header {
  position: absolute;
  top: 200px;
  right: 25%;
  z-index: -1;
}

.home_header h2 {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}


.home_header p {
  width: 210px;
}

.home_profile_img {
  margin: 150px 25px 0 30%;
}

.home_flower {
  position: absolute;
  top: 430px;
  left: 31%;
  /* top: 400px;
  right: 30%; */
}

.bracket1 {
  width: 25vw;
}

.bracket2 {
  width: 20vw;
}

.bracket_cont {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 5%;
  z-index: -1;
}

.bracket_sub1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bracket_sub2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 5px 0 0 0;
}

.bracket_sub1 p {
  margin: -12px;
  padding: 0;
}

.bracket_sub2 p {
  margin: -5px;
  padding: 0;
}

/* mid section */
.home_subtitle {
  font-weight: lighter;
  text-align: center;
  margin-top: 200px;
}

/* animation referenced from https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */
.anim_proj_home {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
  }
}

.arrows_home {
  width: 80%;
  height: auto;
  margin: 50px 10% 100px 10%;
  display: flex;
  justify-content: space-between;
}

.proj_arrow_home img {
  width: 105%;
  margin: -5%;
}

.extra_arrow_home img {
  width: 105%;
}

.about_arrow_home img {
  width: 105%;
  margin-left: -5%;
}

.proj_arrow_home a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 20pt;
  font-weight: lighter;
  margin: -20px 0 0 15px;
  color: white;
  opacity: 0;
  animation: 300ms glideDown;
}

.extra_arrow_home a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 20pt;
  font-weight: lighter;
  margin: -20px 0 0 15px;
  color: white;
  opacity: 0;
  animation: 300ms glideDown;
}

.about_arrow_home a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 20pt;
  font-weight: lighter;
  margin: -20px 0 0 15px;
  color: white;
  opacity: 0;
  animation: 300ms glideDown;
}

.extra_arrow_home div {
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F9F9F9;
  /* background: radial-gradient(#B46325, #C37539); */
  display: none;
}

.about_arrow_home div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F9F9F9;
  opacity: 90%;
  z-index: -1;
  /* background: radial-gradient(#B46325, #C37539); */
  display: none;
}

.proj_arrow_home {
  align-self: center;
  width: 25%;
  overflow: hidden;
}

.extra_arrow_home {
  align-self: center;
  width: 25%;
  overflow: hidden;
}

.about_arrow_home {
  align-self: center;
  width: 25%;
  overflow: hidden;
}

/* .contact_arrow_home {
  float: right;
  font-size: 18pt;
} */

.about_arrow_home:hover a, .proj_arrow_home:hover a, .extra_arrow_home:hover a {
  cursor: pointer;
  z-index: 5;
  animation: 300ms glideUp;
  color: white;
  margin-top: -90px;
  opacity: 100%;
  filter: blur(0);
}

/* referenced https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/blur() */
.about_arrow_home:hover img, .proj_arrow_home:hover img, .extra_arrow_home:hover img {
  filter: blur(2px);
}

/* .about_arrow_home:hover div, .extra_arrow_home:hover div {
  display: block;
  animation: 2s fadeBgIn;
}

@keyframes fadeBgIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 90%;
  }
} */


@keyframes glideUp {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: -90px;
    opacity: 100%;
  }
}

@keyframes glideDown {
  0% {
    margin-top: -90px;
    opacity: 100%;
  }
  100% {
    margin-top: -20px;
    opacity: 0;
  }
}

/*  NAV BAR */

.nav_cont {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0 0 0;
  background-color: #F9F9F9;
  /* padding: 30px 0 30px 0;
  background: linear-gradient(to bottom, #F9F9F9 70%, transparent 100%); */
  z-index: 5;
}

.nav_links {
  list-style: none;
  font-size: 14pt;
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  /* height: 25px; */
  font-style: italic;
}

.nav_links a {
  text-decoration: none;
  color: grey;
  padding: 5px;
  margin: 0;
  height: 10px;
}

.nav_links a:hover {
  color: black;
  animation: 300ms outline;
  border-bottom: 2px solid black;
}

.name_ul {
  list-style: none;
  font-size: 14pt;
  /* width: 25%;
  height: 25px; */
  text-align: center;
  margin: 0 10%;
}

.name_ul a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.name_ul a:hover {
  animation: 300ms outline;
  border-bottom: 2px solid black;
}

@keyframes outline {
  0% {
    border-bottom: transparent;
    padding-bottom: 10px;
  }
  100% {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
}

.contact_links {
  width: 25%;
  padding: 0;
  margin: 0;
}

.contact_links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.contact_links a {
  color: black;
  text-decoration: none;
}

.contact_links::after {
  color: black;
}

.active_pg {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

/*------------------------------------------------------------------------------------*/

/* Home elements */
/*
.home_header {
  color: #0D574C;
  position: sticky;
  top: 10px;
  left: 33%;
  text-align: center;
  font-size: 18pt;
  margin: 0;
  padding: 0;
} */

.home_img_cont {
  width: 100%;
  height: 500px;
  /* background-color: #1b3420; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .garden_home_img {
  width: 400px;
} */

.proj_label {
  font-size: 20pt;
  text-align: center;
}

/* animation referenced from https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */
.anim_proj_home {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
  }
}

.home_proj_img img {
  width: 250px;
  margin: 20px;
  transition: transform 300ms;
}

/* animation referenced from https://thoughtbot.com/blog/transitions-and-transforms */
.home_proj_img img:hover {
  transform: translateY(-10px);
}

.home_proj_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home_proj_moreBtn {
  float: right;
  margin: 10px 18% 50px 0;
  font-size: 14pt;
  text-decoration: none;
  color: black;
}

.home_proj_moreBtn:hover {
  text-decoration: underline;
}

/* skill section */

/* .stats {
  background-color: #ccb7ae;
  margin: 100px 20% 10% 20%;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}

.stats h3 {
  font-size: 20pt;
}

.stat_bar {
  height: 25px;
  width: 300px;
  background-color: #ccb7ae;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: #40160f;
}

.html_stat {
  background-color: #40160f;
  width: 90%;
  height: 25px;
  margin-right: 10px;
}

.css_stat {
  background-color: #40160f;
  width: 80%;
  height: 25px;
  margin-right: 10px;
}

.py_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.js_stat {
  background-color: #40160f;
  width: 70%;
  height: 25px;
  margin-right: 10px;
}

.react_stat {
  background-color: #40160f;
  width: 50%;
  height: 25px;
  margin-right: 10px;
} */

/* Curiosities */
/* .cur_box {
  height: 350px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  margin: 50px;
}

.cur_box_home {
  height: 350px;
  width: 250px;
  border-radius: 20px;
  margin: 50px;
  overflow: hidden;
  background-color: #f3e6e7;

} */

/* Referenced this site for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* .all_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.cur_label {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cur_label h3 {
  margin: 0 12%;
} */


/* PROJECTS PAGE */

.portfolio_nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 2%;
  list-style: none;
}

/* section {
  background-color: yellow;
} */

.indicator {
  color: grey;
  font-size: 14pt;
  cursor: pointer;
  margin: 10px 0 10px 0;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: black;
}

.indicator:hover {
  color: black;
  font-weight: bold;
}

.portfolio_nav p {
  display: none;
}

.web_img_cont {
  width: 80%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.web_img_cont img {
  margin: 25px 0 10px 0;
}

/* ART PAGE */

.art_btn {
  padding: 2px 25px;
  display: inline-block;
  height: 40px;
  font-size: 14pt;
  background-color: #fefefa;
  border-radius: 20px;
  border: 2px solid #ccb7ae;

  display: none;
}

.art_btn:hover {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.btn_change {
  background-color: #ccb7ae;
  border: none;
  color: #40160f;
}

.all_art_bts {
  margin: 10% 0 1% 10%;
}

.proj_box {
  display: block;
  margin: 10px;
  /* float: left;
  transition: transform 300ms; */
}

.all_proj_boxes {
  /* margin-left: 10%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box_off {
  display: none;
}

/* .proj_box:hover {
  transform: scale(1.08);
} */

.proj_txt {
  width: 250px;
  font-size: 14pt;
  float: right;
  margin-right: 250px;
}

.spacer {
  height: 100vh;
  width: 100%;
}

/* ABOUT PAGE */

.profile_pic {
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 30%;
  height: 350px;
}

.profile_text {
  width: 300px;
  margin: 10% 10% 0 55%;
  height: 100vh;
}
